.carte_en_avant {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: 0.1rem;
  }
  
  .cart__img_en_avant {
    width: 20rem;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .info_en_avant {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
  }
  
  .titre_card_en_avant {
    margin: 0;
    font-size: 0.9rem;
    white-space: normal;
    padding: 0.2rem 0.5rem;
    font-family: var(--ff-reforma);
  }
  
  @media (min-width: 768px) {
    .carte_en_avant {
      width: 20%;
    }
  
    .cart__img_en_avant {
      width: 100%;
    }
  
    .titre_card_en_avant {
      font-size: 1.2rem;
    }
  }
  