
.video_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}


.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: var(--color-fg);
}

.navbar__list {
  display: flex;
}

.navbar__item--invisible {
  display: none;
}

.navbar__profil--visible {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar__profil--invisible {
  display: none;
}

.navbar__item--visible {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.deconnexion {
  font-size: 0.5rem;
  margin: 0.2rem;
  padding: 0.2rem;
  background-color: var(--color-black);
  border-radius: 0.5rem;
  border: none;
  font-family: var(--ff-Minigap);
  color: var(--color-white);
}

.logout_image {
  width: 1rem;
}

.deconnexion:hover {
  scale: 1.05;
}

.deconnexion:active {
  background-color: var(--color-fond-btn-hold);
  scale: 0.95;
}


.logo--navbar {
  width: 5rem;
}


.navbar__citation {
  position: absolute;
  bottom: 0;
  right: 1rem;
  font-family: var(--ff-Minigap);
  font-size: 1rem;
  margin: 0;
}


.profil--navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border-radius: 1rem;
}

.img_profil-sel--navbar {
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
}

.titre_profil--navbar,
.restriction_profil--navbar {
  display: none;
}

.favoris_profil {
  transition: all 0.3s ease;
}

.favoris_profil:hover {
  scale: 1.25;
  transition: all 0.3s ease;
}

.favoris_profil:active {
  scale: 0.95;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .navbar {
    padding-block: 0;
    padding-inline: 2rem;
  }

  .logo--navbar {
    width: 8rem;
    margin-bottom: 1.2rem;
  }

  .navbar__citation {
    font-size: 1.5rem;
  }

  .deconnexion {
    font-size: 1rem;
    padding: 0.2rem;
    margin-bottom: 1.2rem;
    background-color: var(--color-fond-btn);
    border-radius: 0.5rem;
    border: none;
    font-family: var(--ff-Minigap);
    color: var(--color-white);
  }

  .titre_profil--navbar,
  .restriction_profil--navbar,
  .favoris_profil {
    display: block;
  }

  .profil--navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    color: var(--color-white);
    font-family: var(--ff-reforma);
  }

  .titre_profil--navbar{
    margin: 0rem;
  }
}
