

.film_info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--ff-Minigap);
  color: var(--color-white);
}

.info__img {
    width: 45vh;
}

.info__video{
    width: 45vh;
    height: 50vh;
}

.info__close{
    position: absolute;
    top: -2rem;
    right: 1rem;
    margin: 1rem;
    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;
}

.info__close_btn{
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
}

.info__close_btn:hover{
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.info__close_btn:active{
    scale: 0.9;
    transition: all 0.2s ease-in-out;
}

.img_bouton_close{
    width: 2.5rem;
    height: 2.5rem;
}

@media (min-width: 768px) {
    .film_info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-family: var(--ff-Minigap);
        color: var(--color-white);
      }
      
      .info__img {
          width: 45vh;
      }
      
      .info__video {
          width: 50vh;
      }
      
      .info__video{
          width: 120vh;
          height: 50vh;
      }
}