<div class="categorie_selector">
  <form class="categorie__form">
    <select name="categorie">
      <option value="none">pas de filtre</option>
      <option value="Action">Action</option>
      <option value="Comédie">Comédie</option>
      <option value="Science-fiction">Science-fiction</option>
      <option value="Animation">Animation</option>
      <option value="Thriller">Thriller</option>
      <option value="Horreur">Horreur</option>
      <option value="Aventure">Aventure</option>
      <option value="Fantaisie">Fantaisie</option>
      <option value="Documentaire">Documentaire</option>
    </select>
    <input onclick="{{handler}}" type="button" value="rechercher" name="todo" />
  </form>
</div>
