.footer {
    background-color:var(--color-gray-verylight);
    padding: 2rem;
    font-family: Arial, sans-serif;
    color: var(--color-gray-dark);
  }
  
  .footer__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .footer__links {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
  }
  
  .footer__links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer__links ul li {
    margin-bottom: 0.5rem;
  }
  
  .footer__links ul li a {
    color: var(--color-gray-dark);
    text-decoration: none;
    font-size: 0.95rem;
  }
  
  .footer__links ul li a:hover {
    text-decoration: underline;
  }
  
  .footer__social {
    margin-top: 1rem;
  }
  
  .footer__social p {
    margin-bottom: 0.5rem;
  }
  
  .social__icons{
    display: flex;
    gap: 1rem;
  }
  
  .footer__logo{
    width: 5rem;
  }

