<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img class="footer__logo" src="../assets/images/mubi_noir.png" />
    </div>

    <div class="footer__links">
      <ul>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Comment regarder vos films</a></li>
        <li><a href="#">Aide</a></li>
        <li><a href="#">Abonnements</a></li>
        <li><a href="#">Étudiants</a></li>
        <li><a href="#">Conditions & Confidentialité</a></li>
      </ul>

      <ul>
        <li><a href="#">Offrir Mubi</a></li>
        <li><a href="#">Emplois</a></li>
        <li><a href="#">Contribuer</a></li>
        <li><a href="#">MAGAZINE</a></li>
      </ul>
    </div>

    <div class="footer__social">
      <p><strong>Suivez-nous sur</strong></p>
      <div class="social__icons">
        <img class="icon-footer" src="../assets/images/Instagram.png" />
        <img class="icon-footer" src="../assets/images/face.png" />
        <img class="icon-footer" src="../assets/images/youtube.png" />
      </div>
    </div>
  </div>
</footer>
