#card__list {
    padding-top: 2rem;
    display: grid;
    background-color: rgb(28, 28, 58);
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes */
    grid-auto-rows: 25rem;
    /* Hauteur des lignes */
    grid-gap: 2rem;
    /* Espacement entre les éléments */
}

.carte {

    background-color: var(--color-blue-1);
    color: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}


.carte:nth-child(4n+1) {
    margin: 0;
    grid-column: span 2;
    /* Les grandes images occupent 2 colonnes */
    grid-row: span 2;
    /* Et 2 lignes */
}

.cart__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}