<nav class="navbar">
  <img
    class="logo logo--navbar"
    src="../assets/images/moonvie.png"
    alt="Logo"
  />
  <ul class="navbar__list">
    <li class="navbar__item navbar__item--profil navbar__item--invisible">
      <button onclick="location.reload()" class="deconnexion">
        <img class="logout_image" src="../assets/images/logout.svg" />
      </button>
    </li>
    <li class="navbar__item navbar__profil--invisible navbar__item--profil">
      <ul id="{{id}}" class="profil--navbar">
        <li>
          <img class="img_profil-sel--navbar" src="{{chemin}}" alt="" />
        </li>
        <li>
          <h1 class="titre_profil--navbar">{{name}}</h1>
        </li>
        <li>
          <p id="{{Age_id}}" class="restriction_profil--navbar">
            <span class="restriction_title--navbar">Age :</span>
            {{Age}}
          </p>
        </li>
        <li>
          <img class="favoris_profil" src="../assets/images/star_active" />
        </li>
      </ul>
    </li>
    <li class="navbar__item">
      <p class="navbar__citation">Voir des films à tout Moments</p>
    </li>
  </ul>
</nav>
