#card__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carte {
    width: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    font-size: 0.8rem;
    font-family: var(--ff-reforma);
    transition: all 0.3s ease-in-out;
    margin: 0.1rem;
}

.carte--modif:nth-child(4n+1) .cart__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    padding: 0;
}

.carte--modif:nth-child(4n+1) {
    width: 100%;
    margin-block: 2rem;

}

.favoris_star{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.favoris_star:hover{
    scale: 1.2;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.favoris_star:active{
    scale: 0.8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.description_card {
    white-space: normal
}


.cart__img {
    width: 15rem;
    height: 100%;
    object-fit: cover;
    display: block;
}

.info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
}


@media (min-width: 768px) {
    #card__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .carte {
        width: 12rem;
        height: 24rem;
        flex: 0 0 auto;
    }

    .cart__img {
        width: 12rem;
        height: 100%;
    }

    .carte--modif:nth-child(4n+1),
    .carte--modif:nth-child(4n+1) .cart__img {
        width: 12rem;
    }
}



.carte:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}